<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- <a href="./login.ejs" class="btn btn-success ml-2">Login Here</a>
    <a href="./register.ejs" class="btn btn-success ml-2">Register Here</a> -->
  </body>
</html>
