<!DOCTYPE html>
<head>
    <title>
        {%= title %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <p>Welocme to the website here you can get the details of the various schemes<br> to be notified with the new schemes kindly Register or Login</p>
    <div>
        <a href="login" class="btn btn-success ml-2">Login Here</a>
        <a href="register" class="btn btn-success ml-2">Register Here</a>
    </div>
</body>
